.containerLeague {
    margin: 2rem;
}

.contentTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: #333333;
}

.btnNewLeague {
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    padding: .75rem;
    white-space: nowrap;
    border-radius: 8px;
    border: none;
}

.btnNewLeague:hover {
    background-color: #0069D9;
}

.contentCard {
    height: 480px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
    margin-top: 1rem;
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionLeague {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 1rem;
    border: 1px solid #33333363;
    padding: 0 1rem;
    margin-bottom: .5rem;
}

.contentTextLeague {
    flex-direction: column;

}

.subtitleLeague {
    color: #333333;
}

.statusLeague {
    color: green;
    margin-top: 2rem;
}

.btnGestLeague {
    background-color: rgba(128, 128, 128, 0.34);
    color: #333333;
    text-decoration: none;
    padding: .75rem;
    white-space: nowrap;
    border-radius: 8px;
    font-weight: bold;
}

.btnGestLeague:hover {
    background-color: rgba(128, 128, 128, 0.695);
    color: #fff
}

.textErrorLeague {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    color: red;
}

.label {
    color: #333;
    font-size: large;
    padding-bottom: .5rem;
}

.title {
    color: #333;
    font-size: 28px;
    font-weight: bold;
    padding: 0 0 1rem;
}

.subtitle {
    color: gray;
    padding: 0 0 1rem;
}